﻿@model SwiftBookingTest.Web.ViewModels.IndexViewModel

<!-- IEnumerable<SwiftBookingTest.Web.Models.Client> -->

@{
    ViewBag.Title = "Index";
}

<h2>GetSwift Code Test</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)



    <fieldset>
        <legend>Add Person</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatableClient.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatableClient.Name)
            @Html.ValidationMessageFor(model => model.CreatableClient.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatableClient.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatableClient.Address)
            @Html.ValidationMessageFor(model => model.CreatableClient.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatableClient.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatableClient.PhoneNumber)
            @Html.ValidationMessageFor(model => model.CreatableClient.PhoneNumber)
        </div>

        <p>
            <!--<input type="submit" value="Create" />-->
            <input type="submit" value="Add" name="action:Add" />
        </p>
    </fieldset>
}
<div>
    <fieldset>
        <legend>Saved people</legend>

        <ul>
            @foreach (var item in Model.DisplayableClients)
            {
                <li>
                    @Html.ActionLink("Book With GetSwift", "Upload", new { id = item.ID }, new { @class = "button" })
                    @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.PhoneNumber) @Html.DisplayFor(modelItem => item.Address)
                </li>
            }
        </ul>
        </fieldset>
</div>
<div style="background-color:#eee;padding:20px;">
   <!-- Results from the API call go here! -->
    @MvcHtmlString.Create(Model.APIResultString);
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
